.BottomRow {
  padding: 1rem 8rem;
  display: flex;
  color: #273654;
  flex-direction: column;
  align-content: center;
  border-radius: 0.5rem;
  padding-top: 20px;
  padding-bottom: 30px;
}

.Media {
  background-color: white;
  height: 120%;
  width: 110%;
  overflow: hidden;
  position: relative;
}

.biotext {
  margin-top: 0;
}

.MuiCard-root {
  overflow: visible;
}

body {
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  background-color: #fafafa;
}

.Banner {
  height: 400px;
  position: relative;
}

.BannerGrid {
  height: 100%;
}

.MuiGrid-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.MuiGrid-grid-xs-4 {
  flex-grow: 0;
  max-width: 33.333333%;
  flex-basis: 33.333333%;
  flex-grow: 5;
  align-content: center;
}

.MuiGrid-item {
  margin: 0;
  box-sizing: border-box;
}

.MuiCardMedia-root {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  max-height: 100%;
  align-content: center;
}

.MuiTypography-h5 {
  font-size: 1.5rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0em;
  text-align: center;
}

.MediaCaption {
  text-overflow: ellipsis;
  position: absolute;
  bottom: 0;
  padding: 15px;
  background-color: black;
  color: white;
  opacity: 0.8;
  width: 100%;
  height: 10%;
  font-size: header-font-size;
  font-weight: 200;
  display: flex;
  padding-bottom: 50px;
  text-align: center;
  align-content: center;
}

.WithStyles\(ForwardRef\(Button\)\)-root-364 {
  color: white;
  background-color: #ff6f00;
}

.MuiButton-root {
  color: white;
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.confirmationButtons {
  margin-left: 2rem;
  margin-right: 1rem;
}

.p {
  text-align: center;
}


