.acddc39 {
    padding-top: 30.25%;
    background-color: #cddc39;
}

.a8bc34a {
    padding-top: 30.25%;
    background-color: #8bc34a;
}

.ae91e63 {
    padding-top: 30.25%;
    background-color: #e91e63;
}

.af44336 {
    padding-top: 30.25%;
    background-color: #f44336;   
}

.a9c27b0 {
    padding-top: 30.25%;
    background-color: #9c27b0;  
}

.a673ab7 {
    padding-top: 30.25%;
    background-color: #673ab7;     
}

.a3f51b5 {
    padding-top: 30.25%;
    background-color: #3f51b5;     
}

.a2196f3 {
    padding-top: 30.25%;
    background-color: #2196f3;   
}

.a03a9f4 {
    padding-top: 30.25%;
    background-color: #03a9f4;      
}

.a00bcd4 {
    padding-top: 30.25%;
    background-color: #00bcd4;    
}

.a009688 {
    padding-top: 30.25%;
    background-color: #009688;    
}

.a4caf50 {
    padding-top: 30.25%;
    background-color: #4caf50;      
}

.a8bc34a {
    padding-top: 30.25%;
    background-color: #8bc34a;  
}

.acddc39 {
    padding-top: 30.25%;
    background-color: #cddc39;   
}

.affeb3b {
    padding-top: 30.25%;
    background-color: #ffeb3b;    
}

.affc107 {
    padding-top: 30.25%;
    background-color: #ffc107;      
}

.aff9800 {
    padding-top: 30.25%;
    background-color: #ff9800;     
}

.aff5722 {
    padding-top: 30.25%;
    background-color: #ff5722;     
}

.a795548 {
    padding-top: 30.25%;
    background-color: #795548;     
}

.a607d8b {
    padding-top: 30.25%;
    background-color: #607d8b;   
}

.b8bc34a {
    padding-top: 3rem;
    background-color: #8bc34a;
}

.be91e63 {
    padding-top: 3rem;
    background-color: #e91e63;
}

.bf44336 {
    padding-top: 3rem;
    background-color: #f44336;   
}

.b9c27b0 {
    padding-top: 3rem;
    background-color: #9c27b0;  
}

.b673ab7 {
    padding-top: 3rem;
    background-color: #673ab7;     
}

.b3f51b5 {
    padding-top: 3rem;
    background-color: #3f51b5;     
}

.b2196f3 {
    padding-top: 3rem;
    background-color: #2196f3;   
}

.b03a9f4 {
    padding-top: 3rem;
    background-color: #03a9f4;      
}

.b00bcd4 {
    padding-top: 3rem;
    background-color: #00bcd4;    
}

.b009688 {
    padding-top: 3rem;
    background-color: #009688;    
}

.b4caf50 {
    padding-top: 3rem;
    background-color: #4caf50;      
}

.b8bc34a {
    padding-top: 3rem;
    background-color: #8bc34a;  
}

.bcddc39 {
    padding-top: 3rem;
    background-color: #cddc39;   
}

.bffeb3b {
    padding-top: 3rem;
    background-color: #ffeb3b;    
}

.bffc107 {
    padding-top: 3rem;
    background-color: #ffc107;      
}

.bff9800 {
    padding-top: 3rem;
    background-color: #ff9800;     
}

.bff5722 {
    padding-top: 3rem;
    background-color: #ff5722;     
}

.b795548 {
    padding-top: 3rem;
    background-color: #795548;     
}

.b607d8b {
    padding-top: 3rem;
    background-color: #607d8b;   
}